.about {
  margin-top: 6rem;
  background-image: linear-gradient(
      to right bottom,
      var(--color-base),
      transparent
    ),
    linear-gradient(to right bottom, var(--color-base), transparent),
    url(/img/office.png);

  background-size: cover;
  min-height: 100vh;
  width: 100%;

  font-size: 2rem;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__text {
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
  }

  &__box {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__col {
    text-align: left;
    height: auto;
    padding: 5rem;
    line-height: 2;
  }
}

.separator {
  width: 1px;
  background-color: var(--color-white);
}

/* Responsive adjustments for about section */
@media only screen and (max-width: 1024px) {
  .about {
    font-size: 1.8rem;

    &__text {
      font-size: 2.4rem;
      letter-spacing: 0.3rem;
      padding: 1rem;
    }

    &__box {
      flex-direction: column;
      align-items: center;
    }

    &__col {
      padding: 3rem;
    }
  }

  .separator {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .about {
    font-size: 1.6rem;
    min-height: auto;
    padding: 0 1rem;

    &__text {
      font-size: 1.8rem;
      letter-spacing: 0.2rem;
      margin-top: 2rem;
    }

    &__box {
      width: 100%;
      padding: 0;
    }

    &__col {
      padding: 2rem;
      text-align: left;

      &-2 {
        margin-bottom: 2rem;
      }
    }

    background-position: center;
    background-size: cover;
  }
}
