.areas {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;

  &__text {
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
    border-bottom: 1px solid var(--color-base);
  }

  &__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
    gap: 4rem;
  }

  &__card {
    position: relative;
    transform-style: preserve-3d;
    perspective: 150rem;
    box-shadow: 0 1.5rem 4rem rgba(#000000, 0.15);
    transition: all 0.6s;

    &-flip {
      transform: rotateY(180deg);
    }

    &-text {
      padding: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-btn {
      margin-top: 5rem;
      align-self: flex-end;
    }

    &-par {
      font-size: 2rem;
      text-align: left;
      letter-spacing: 0.5rem;
      padding: 8px;
      border-bottom: 1px solid #ffffff;
    }

    &-front,
    &-back {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      border-radius: 1rem;
    }

    &-front {
      position: relative;
      background-color: var(--color-base);
      color: var(--color-white);
      font-size: 2rem;
      backface-visibility: hidden;
      pointer-events: none;
    }

    &-back {
      backface-visibility: hidden;
      position: absolute;
      transform: rotateY(180deg);
      pointer-events: none;
      font-weight: 300;
    }

    &-pic {
      background-image: url(/img/Card_Back.png);
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.statement {
  max-width: 70%;
  margin-top: 6rem;

  &__para {
    font-size: 2rem;
    line-height: 2;
    text-align: center;
  }
}

.span__link {
  color: var(--color-gold);
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .areas {
    height: fit-content;
  }

  .areas__box {
    flex-direction: column;
  }

  // .areas__card:hover {
  //   transform: none;
  // }

  .areas__card-flip {
    transform: rotateY(180deg);
  }
}

@media only screen and (max-width: 680px) {
  .areas__text {
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    border-bottom: 1px solid var(--color-base);
    text-align: center;
    padding-bottom: 1rem;
  }

  .areas__box {
    width: 100%;
  }

  .statement {
    max-width: 100%;
  }

  .statement__para {
    font-size: 1.5rem;
    text-align: center;
    //border-bottom: 1px solid var(--color-base);
  }
}
