:root {
  --color-base: #000000;
  --color-white: #ffffff;
  --color-gold: #c8a358;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  padding: 3rem;
  color: black;
  font-family: 'Roboto Mono', monospace;
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  z-index: 99;
  height: 100vh;

  &__item {
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }

  &__img {
    width: 5rem;
    height: 5rem;
  }

  &__link {
    text-decoration: none;
    color: var(--color-base);
    font-size: 2rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;

    &:hover {
      border-bottom: 2px solid var(--color-base);
    }
  }
}

/* Responsive root font scaling */
@media only screen and (max-width: 1200px) {
  html {
    font-size: 58%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }

  body {
    padding: 3rem;
  }
}
