.footer {
  //border-top: 1px solid #000000;
  // margin-top: 1rem;
  min-height: 70vh;
  background-image: url(/img/Crow\ Full.png);
  background-position: right;
  background-size: cover;

  &__box {
    min-height: 70vh;
    padding: 5rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__text {
    font-size: 2rem;
    letter-spacing: 1.5rem;
  }

  // &__para {
  //   margin-top: 8rem;

  //   &-1,
  //   &-2 {
  //     display: flex;
  //     flex-direction: row;
  //     font-size: 2rem;
  //     text-align: center;
  //   }

  //   &-1 {
  //     margin-bottom: 4rem;
  //   }
  // }
}

// .footer__icon {
//   //width: 5rem;
//   //height: 5rem;
//   margin-right: 4rem;
// }

// .mail {
//   text-decoration: none;
//   color: var(--color-base);
// }

.whats {
  margin-top: 8rem;

  &__icon {
    width: 8rem;
    height: 8rem;
  }
}

.insta {
  margin-top: 8rem;

  &__icon {
    width: 8rem;
    height: 8rem;
  }
}

.direitos {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.2rem;

  &__span {
    color: var(--color-gold);
  }
}

@media only screen and (max-width: 1200px) {
  // .footer {
  //   border-top: none;
  // }

  // .whats__icon {
  //   position: absolute;
  //   top: 18rem;
  //   right: 3rem;
  // }

  .direitos {
    margin-top: -2rem;
  }

  .mail,
  .tel {
    color: var(--color-base);
  }

  .footer__text {
    color: var(--color-base);
    margin-top: 0rem;
    //text-align: right;
    align-self: end;
  }

  .footer__box {
    // min-height: 70vh;
    // background-image: url(/img/Crow\ Full.png);
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 680px) {
  .footer {
    background-repeat: no-repeat;
    background-position: right;
  }

  .footer__box {
    padding: 1rem;
    //margin-top: 0;
  }

  .footer__text {
    color: var(--color-base);
  }

  .footer__para {
    display: none;
  }

  .footer__icon {
    display: none;
  }

  .whats {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 4rem;
  }

  .whats__icon {
    width: 10rem;
    height: 10rem;
    // top: 19rem;
    // right: 1rem;
  }
}
