.footer {
  border-top: 1px solid #000000;
  margin-top: 6rem;
  min-height: 70vh;

  &__box {
    background-image: url(/img/Crow\ Full.png);
    min-height: 70vh;
    background-position: right;
    background-size: cover;
    padding: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
  }

  &__text {
    font-size: 2rem;
    letter-spacing: 1.5rem;
  }

  &__para {
    margin-top: 8rem;

    &-1,
    &-2 {
      display: flex;
      flex-direction: row;
      font-size: 2rem;
      text-align: center;
    }

    &-1 {
      margin-bottom: 4rem;
    }
  }
}

.footer__icon {
  //width: 5rem;
  //height: 5rem;
  margin-right: 4rem;
}

.mail {
  text-decoration: none;
  color: var(--color-base);
}

.whats {
  margin-top: 8rem;

  &__icon {
    width: 10rem;
    height: 10rem;
  }
}

.direitos {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.2rem;

  &__span {
    color: var(--color-gold);
  }
}

@media only screen and (max-width: 1200px) {
  .footer {
    border-top: none;
  }

  // .whats__icon {
  //   position: absolute;
  //   top: 18rem;
  //   right: 3rem;
  // }

  .direitos {
    margin-top: -2rem;
  }

  .mail,
  .tel {
    color: var(--color-base);
  }

  .footer__text {
    color: var(--color-base);
    margin-top: -13rem;
    text-align: center;
  }

  .footer__box {
    min-height: 60vh;
    background-image: url(/img/Crow\ Full.png);
  }
}

@media only screen and (max-width: 600px) {
  .footer__box {
    padding: 4rem;
  }

  .footer__text {
    color: var(--color-base);
  }

  .footer__para {
    display: none;
    // flex-direction: column;
    // align-items: flex-start;
    // margin-top: 10rem;

    // &-1 {
    //   font-size: 1.5rem;
    // }

    // &-2 {
    //   font-size: 1.5rem;
    // }
  }

  // .mail,
  // .tel {
  //   color: var(--color-white);
  // }

  .footer__icon {
    display: none;
  }

  .whats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
  }

  .whats__icon {
    width: 7rem;
    height: 7rem;
    // top: 19rem;
    // right: 1rem;
  }
}
