.footer {
  min-height: 70vh;
  background-image: url(/img/Crow\ Full.png);
  background-position: right;
  background-size: cover;

  &__box {
    min-height: 70vh;
    padding: 5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__text {
    font-size: 2rem;
    letter-spacing: 1.5rem;
  }
}

.whats {
  margin-top: 8rem;

  &__icon {
    width: 7rem;
    height: 7rem;
  }
}

.insta {
  margin-top: 8rem;

  &__icon {
    width: 7rem;
    height: 7rem;
  }
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.direitos {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.2rem;

  &__span {
    color: var(--color-gold);
  }
}

@media only screen and (max-width: 1200px) {
  // .footer {
  //   border-top: none;
  // }

  // .whats__icon {
  //   position: absolute;
  //   top: 18rem;
  //   right: 3rem;
  // }

  .direitos {
    margin-top: -2rem;
  }

  .mail,
  .tel {
    color: var(--color-base);
  }

  .footer__text {
    color: var(--color-base);
    margin-top: 0rem;
    //text-align: right;
    align-self: end;
  }

  .footer__box {
    // min-height: 70vh;
    // background-image: url(/img/Crow\ Full.png);
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 680px) {
  .footer {
    background-repeat: no-repeat;
    background-position: right;
  }

  .footer__box {
    padding: 1rem;
    margin-top: 4rem;
    flex-direction: column;
    justify-content: start;
    //margin-top: 0;
  }

  .footer__text {
    color: var(--color-base);
  }

  .socials {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: end;
  }

  .insta {
    margin-top: 2rem;
  }

  .whats {
    margin-top: 4rem;
  }

  .whats__icon {
    width: 7rem;
    height: 7rem;
    // top: 19rem;
    // right: 1rem;
  }
}
